.ProductsPage {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  .ProductsPage__info {
    padding-left: 20px;
  }
  .ProductsPage__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  .ProductsPage__image {
    object-fit: contain;
    width: 100px;
    height: 180px;
  }
  .ProductsPage__rating {
    display: flex;
  }
  .ProductsPage__title {
    font-size: 17px;
    font-weight: 800;
  }
  /* .ProductsPage__price {
    margin-top: 5px;
  } */
  .Cart {
    display: flex;
    /* align-items: center; */
    /* color:black; */
    /* background: black; */
    background-attachment: fixed;
    border: 1px solid;
    /* width:auto ; */
    font-weight: 800;
    margin: 0%;
    /* border: 3px solid #73AD21; */
    /* position: absolute; */
    top: 10px;
    right: 16px;
    font-size: 18px;
    /* width: 100%; */
    float: right;
  }
  /* .shape{
    align-items: right;
  } */
  /* div.Cart{
    position: fixed;
    border: 3px solid #73AD21;
  } */
  .shop__Cart{
  background-color: blanchedalmond;
  }
  
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav {
  background-color: blanchedalmond; 
  list-style-type: none;
  /* text-align: center; */
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  justify-content: space-between;
  border-right: 1px solid #bbb;
}
.nav a:hover {
  background-color: #ddd;
  float:right;
}
/* .shop{
  float:right;
  color: #111;
} */
/* .active {
  background-color: #04AA6D;
} */
/* .shop a:hover{
  color:powderblue;
} */
/* a {
  color: hotpink;
} */
/* .active:hover{
  background-color:tomato ;
} */
input[type=text]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}

/* .ProductsPage__image {
  width: 100%;
  z-index: 1;
  margin-bottom: 150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */
/* .ProductsPage {
  display: flex;
  z-index: -1;
  margin-left: 5px;
  margin-right: 5px;
} */

