/* .ProductsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 0.1s ease-in;
  } */
  * {
    box-sizing: border-box;
  }
.ProductPage {
    display: flex;
     box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75) ;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    transition: transform 0.2s ease-in;
    /* flex-direction: row; */
    background-color: white;
    float: left;
    /* width: 33.33%; three boxes (use 25% for four, and 50% for two, etc) */
    padding: 50px; /* if you want space between the images */
    /* align-items: left; */
    /* align-items: center; */
    /* border-radius: 10px; */
    justify-content: space-between;
    border: 1px dotted black;
  /* overflow: scroll; */
  width: 300px;
  height: 300px;
  border: 1px dotted black;
  overflow: auto;
  }
  .ProductsPage__info {
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 30px;
  }
  .ProductsPage__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  .ProductsPage__image {
    object-fit: contain;
    width: 150px;
    height: 180px;
  }
  .ProductsPage__rating {
    display: flex;
  }
  .ProductsPage__title {
    font-size: 17px;
    font-weight: 800;
  }
  .ProductsPage__price {
    margin-top: 5px;
  }
  .Cart {
    /* display: flex; */
    align-items: center;
    color: white;
    /* background: black; */

  }
  .infoButton  {
    background-color: #2195f3;
    margin-top: 10px;
    /* color: white; */
    padding: 10px;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  